@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?h12oz");
  src: url("../fonts/icomoon.eot?h12oz#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?h12oz") format("truetype"),
    url("../fonts/icomoon.woff?h12oz") format("woff"),
    url("../fonts/icomoon.svg?h12oz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop-down:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-heart:before {
  content: "\e9da";
}

body {
  margin: 0;
  padding: 0;
  font-family: "Baloo Da 2", "san-serif";
}

.container {
  display: grid;
  grid-template: 60px 1fr 150px / 90px 1fr;
  /* grid-gap: 10px; */
  height: auto;
  grid-template-areas:
    "header header"
    "left contenido"
    "left contenido";
}
.header {
  grid-area: header;
  height: 60px;
  background: white;
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
  box-shadow: 15px -1px 17px 1px #272525;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 60px;
}
.logo p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: #fe6665;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar input {
  height: 18px;
  width: 350px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #615858cc;
}

.login {
  display: flex;
  align-items: center;
  color: #fe6665;
}
.login span {
  padding: 0 10px;
}
.login .name {
  font-size: 1.2em;
  font-weight: bold;
}
.login .icon-login {
  font-size: 2em;
}
.nav-bar {
  grid-area: left;
  height: 100%;
  background: #fe6665;
  padding: 20px;
}
.nav-bar .container-icons {
  display: grid;
  height: 100%;
  color: white;
  justify-content: center;
}
.nav-bar .container-icons span {
  display: flex;
  height: 50px;
  font-size: 2em;
  justify-content: space-around;
  align-items: center;
}
.nav-bar .container-icons p {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: "Baloo Da 2", "san-serif";
  font-size: 0.8em;
}
.nav-bar .container-icons .icon-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.section {
  grid-area: contenido;
  padding: 30px;
}

.container-movies .movies {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 200px;
  grid-gap: 50px;
  justify-content: space-between;
}

.container-movies .movies .movie {
  background: url("../images/pets-movie.jpg");
  background-size: cover;
  display: grid;
  grid-template-rows: 50%;
  grid-template-areas: "." "container";
}
.container-movies .movies .movie img {
  width: 100px;
}

.description {
  background: rgba(254, 102, 101, 0.8);
  color: white;
  grid-area: container;
  padding: 0 10px;
}
.description h1 {
  font-size: 1em;
}
.description p {
  font-size: 0.8em;
  margin: 0;
}
